
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc66;
    padding: 10px 20px;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header form {
    display: flex;
    gap: 10px;
}

header form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header form button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
