
body {
    font-family: "Tinos", serif;
    margin: 0;
    padding: 0;
    background: rgb(252, 235, 251);
}
a {
    
    text-decoration: none;
}
li {
 
    list-style-type: none;
}

/*Menu*/
header {
    display: flex;
    align-items: center;
    background-color: #f6c3f8;
    padding: 10px 20px;
}

.navigation {
    padding-top: 5px;
    flex-direction: column;
    padding: 20px 0;
    display: flex;
    align-items: center;
    height: 20px;
}

.menu {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;;
    font-size: 15px;
    
}

.navigation li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-weight: bold;
}


header .logo img {
    height: 50px;
}


header .formulario-busqueda {
    align-items: center;
    display: flex;
    margin: 10px
}

header .formulario-busqueda input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header .formulario-busqueda button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #c38cc5;
    color: #fff;
}

.titulos {
    text-align: center;
    color: #c38cc5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6c3f8;
    padding: 10px 20px;
}

.texto_footer {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #c38cc5;
}

.seccion-recetas {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    padding: 20px;
}

.imagen-receta {
    max-width: 300px;
    border-radius: 8px;
    padding: 10px;

}
.detalle-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f6c3f8;
    color: white;
    border-radius: 5px;
    font-size: 0.9;
    
}

.detalle-link:hover {
    background-color: #f6c3f8;
}

.botonVerMas {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #a44cb5;
    border: none;
    border-radius: 5px;
    
}

.botonVerMas:hover {
    background-color: #e66242;
}

/*Category*/
.titulo-por-categoria {
    font-size: 30px;
    color: #c38cc5;
    font-weight: bolder;
}
/*Receta*/ 
.name {
    font-size: 30px;
    color: #c38cc5;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

/*Categories*/
.titulo-categorias {
    text-align: center;
    font-size: 30px;
    color: #c38cc5;
    font-weight: bold;
}
.categorias {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
    padding: 20px;
    border: 2px solid #a44cb5;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Registro*/
.contenedor-registro {
    background-color: white;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    align-items: center;
    text-align: center;
}
.form-registro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.form-class {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}
.boton-registro{
    padding: 10px 15px;
    border: none;
    background-color:#a44cb5 ;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

/*Login*/
.contenedor-login{
    background-color: white;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    align-items: center;
    text-align: center;
}

.form-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.clase-form{
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.boton-login{
    padding: 10px 15px;
    border: none;
    background-color:#a44cb5 ;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

/*Responsive para celular*/
@media (max-width: 375px){ 
    /*creo que es un mobile M*/

    body {
        padding: 0 5vw;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
        padding : 2vh 5vw
    }

    menu{
        flex-direction: column;
        font-size: 12px;
        margin: ;
    }
}



